/* Main top bar */
.Topbar-container {
   display: flex;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}

/* NIFTY and SENSEX section */
.indices-container {
    width: 490px;
    height:80px;
    border-right: 1px solid #EFEEEA;
    display: flex;
    
}

.nifty,
.sensex {
    font-size: medium;
    font-weight:500;
    margin: auto;
   display: flex;

}

/* Index names */
.index {
   margin: 0;
   color: #424242;
  
}

/* Index values */
.index-points {
   margin: 0;
   color: #FE7743;

}

/* Percentage text */
.percent {
   margin: 0;
   color: #FE7743;

}

.menu-container{
   display: flex;
   align-items:center;
   
}
.menu-items{
   display: flex;
   margin-left: 340px;
   height: 40px;
   border-right: 2px solid #EFEEEA;
   font-size: 15px;
   
}
.menu-items p{
   margin-top: 9px;
   margin-right: 30px;
}
.menu-user-profile{
   width: 130px;
}